---
import SealDistrict from '../assets/images/d10/District_10_Seal.webp';
import ImgLocation from '../assets/images/d10/District_10_on_Map.webp';
import ImgIndustry from '../assets/images/d10/livestock.png';
import ImgFemaleVictor from '../assets/images/d10/d10_female_victor.webp';
import ImgMaleVictor from '../assets/images/d10/d10_male_victor.webp';
import ImgDistrict from '../assets/images/d10/district_10_industry.webp';

import Layout from "../layouts/Layout.astro";
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
---

<Layout title='District 10'>
  <main class="px-20  overflow-hidden">
    <Header titleHeader='District 10' />

    <section class="relative w-full flex justify-center mt-42 mb-12">
      <div>
        <img src={SealDistrict.src} alt="District 10" class="w-[400px]">
      </div>
      <img src={ImgDistrict.src} alt="District 10" class="absolute -top-12 -right-24 w-[560px] opacity-40 rounded-lg -z-10">
    </section>

    <section>
      <div class="flex items-center py-12">
        <div>
          <p class="text-white-text text-2xl font-bold font-family-secondary mb-4">Location</p>
          <p class="text-white-text/90 text-lg font-family-secondary w-[70%]">District 10 is located in the southwest of North America. As the southernmost district of Panem, District 10's territory primarily corresponds to the western part of the U.S. state of Texas and the northern and central Mexican states of Aguascalientes, Chihuahua, Coahuila, Durango, Guanajuato, Nuevo León, San Luis Potosí, and Tamaulipas. District 10 borders three districts: District 11 (to the northeast), District 2 (to the north), and District 5 (to the northwest).</p>
        </div>
        <div>
          <img src={ImgLocation.src} alt="district location" class="w-[900px] rounded-lg">
        </div>
      </div>
      <div class="w-full flex justify-between items-center py-12">
        <div>
          <img src={ImgIndustry.src} alt="district industry" class="w-[400px]! rounded-lg">
        </div>
        <div class="text-end w-full">
          <p class="text-white-text  text-2xl font-bold font-family-secondary mb-4">Industry</p>
          <p class="text-white-text/90 text-lg font-family-secondary pl-44">Its main industry is livestock, and it provides meat to the Capitol. District 10 operated slaughterhouses, butchering hogs and cattle. Unlike District 12, 10 was one of the districts where adolescents participated in their industry, giving some tributes an advantage in the arena.</p>
        </div>
      </div>
    </section>

    <section class="mt-26">
      <h3 class="text-white-text font-semibold text-4xl">Victors</h3>
      <article class="flex flex-col gap-16 mt-18">
        <div class="flex items-center gap-6">  
          <div class="w-[100px] h-[100px] rounded-full overflow-hidden bg-gray-800">
            <img src={ImgFemaleVictor.src} alt="District 10 female" class="w-[100px] object-cover">
          </div>
          <div>
            <p class="text-white-text text-2xl font-semibold mb-2">District 10 female</p>
            <p class="text-white-text/90">Victor of an unknown Hunger Games</p>
          </div>
        </div>

        <div class="flex items-center gap-6">
          <div class="w-[100px] h-[100px] rounded-full overflow-hidden">
            <img src={ImgMaleVictor.src} alt="District 10 male" class="w-[100px] rounded-full">
          </div>
          <div>
            <p class="text-white-text text-2xl font-semibold mb-2">District 10 male</p>
            <p class="text-white-text/90">Victor of an unknown Hunger Games</p>
          </div>
        </div>
      </article>
    </section>

    <Footer />
  </main>
</Layout>