---
import SealDistrict from '../assets/images/d2/District_2_Seal.webp';
import ImgLocation from '../assets/images/d2/District_2_on_Map.webp';
import ImgIndustry from '../assets/images/d2/masonry.jpg';
import ImgBrutus from '../assets/images/d2/brutus.webp';
import ImgEnobaria from '../assets/images/d2/Enobaria.webp';
import ImgLyme from '../assets/images/d2/lyme.jpg';
import ImgDistrict from '../assets/images/d2/district_2_battle.webp';

import Layout from "../layouts/Layout.astro";
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
---

<Layout title='District 2'>
  <main class="px-8 md:px-20 overflow-hidden">
    <Header titleHeader='District 2' />

    <section class="relative w-full flex justify-center mt-42 mb-12">
      <div>
        <img src={SealDistrict.src} alt="District 2" class="w-[400px]">
      </div>
      <img src={ImgDistrict.src} alt="District 2" class="absolute -top-23 md:top-0 right-0 md:-right-24 md:w-[560px] opacity-20 md:opacity-40 mask-x-from-96% mask-b-from-96% rounded-lg -z-10">
    </section>

    <section>
      <div class="flex flex-col md:flex-row items-center py-12">
        <div>
          <p class="text-white-text text-2xl font-bold font-family-secondary mb-4">Location</p>
          <p class="text-white-text/90 text-lg font-family-secondary md:w-[70%]">District 2 is located directly to the south of the Capitol, primarily centered in the states of Colorado and New Mexico.</p>
        </div>
        <div class="mt-10 md:mt-0">
          <img src={ImgLocation.src} alt="district location" class="w-[400px] rounded-lg">
        </div>
      </div>
      <div class="w-full flex flex-col-reverse md:flex-row justify-between items-center py-12">
        <div class="mt-10 md:mt-0">
          <img src={ImgIndustry.src} alt="district industry" class="w-[400px]! rounded-lg">
        </div>
        <div class="md:text-end w-full">
          <p class="text-white-text  text-2xl font-bold font-family-secondary mb-4">Industry</p>
          <p class="text-white-text/90 text-lg font-family-secondary md:pl-44">They were in change of masonry and construction, with mines or stone quarries, but over time they dedicated themselves to the training and lodging of the Peacekeepers.</p>
        </div>
      </div>
    </section>

    <section class="mt-26">
      <h3 class="text-white-text font-semibold text-4xl">Victors</h3>
      <article class="flex flex-col gap-16 mt-18">
        <div class="flex items-center gap-6">  
          <div class="w-[100px] h-[100px] rounded-full overflow-hidden bg-gray-800">
            <img src={ImgBrutus.src} alt="Brutus" class="w-[100px] object-center">
          </div>
          <div>
            <p class="text-white-text text-2xl font-semibold mb-2">Brutus</p>
            <p class="text-white-text/90">Victor of an unknown Hunger Games</p>
          </div>
        </div>

        <div class="flex items-center gap-6">
          <div class="w-[100px] h-[100px] rounded-full overflow-hidden">
            <img src={ImgEnobaria.src} alt="Enobaria" class="w-[100px] rounded-full">
          </div>
          <div>
            <p class="text-white-text text-2xl font-semibold mb-2">Enobaria</p>
            <p class="text-white-text/90">Victor and volunteer in the 62nd Hunger Games</p>
          </div>
        </div>

        <div class="flex items-center gap-6">
          <div class="w-[100px] h-[100px] rounded-full overflow-hidden">
            <img src={ImgLyme.src} alt="Lyme" class="w-[100px] rounded-full">
          </div>
          <div>
            <p class="text-white-text text-2xl font-semibold mb-2">Lyme</p>
            <p class="text-white-text/90">Victor of an unknown Hunger Games "a generation ago"</p>
          </div>
        </div>
      </article>
    </section>

    <Footer />
  </main>
</Layout>